.bill {
    @include media(desktop) {
        grid-area: bill;
    }
    width: 100%;
    &__input {
        @include main-input;
        span {
            background-image: url('../../../images/icon-dollar.svg');
        }
    }
}