.people-count {
    @include media(desktop) {
        grid-area: peop;
    }
    &__input {
        @include main-input;
        span {
            background-image: url('../../../images/icon-person.svg');
        }
    }
    padding-bottom: 30px;
}