.tips {
    width: 100%;
    @include media(desktop) {
        grid-area: tips;
    }
    &__title {
        font-size: 14px;
        text-align: left;
    }
    &__buttons-contaier {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    &__btn {
        margin: 5px;
        @include button;
        &--input {
            background-color: $input-color;
            text-align: right;
            padding-right: 20px;
            font-size: 16px;
        }
    }
}