.totalcount {
    background-color: $dark-color;
    border-radius: 10px;
    padding: 20px;
    &__amount {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__total{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn {
        @include button;
        background-color: $onclick-color;
        width: 100%;
        color: $dark-color;
    }
}